a{
    color: white;
}

a:visited{
    color: white;
}

#contact_modal {
    display: none;
    background-color: rgb(0 0 0 / 40%);
    height: 100%;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

.photograph-header h2 {
    color: #D3573C;
    font-size: 36px;
    font-weight: normal;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 26px;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal-top {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.modal-top-align {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-top .modal-top-align img {
    cursor: pointer;
}

.modal-top .modal-top-align h2, .modal-top h2 {
    font-size: 64px;
    font-weight: normal;
    color: #312E2E;
    margin-top: 0;
}

.formData {
    margin-top: 15px;
}

.data-error {
    margin-top: 5px;
    font-size: 18px;
}

.modal-name {
    left: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.text-control {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 47px;
}

.message {
    columns: 2;
}

.sort {
    margin: 50px 0;
    padding: 0;
    display: flex;
    position: relative;
    z-index: 100;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

#openMenuButton {
    cursor: pointer;
    position:absolute;
    right: 25px;
    top: 20px;
    border:none;
    background-color: transparent;
    color: white;
    transform: rotate(360deg);
    transition: 100ms;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

#openMenuButton.reverse {
    transform: rotate(180deg);
    transition: 100ms;
}

#sortingMenu {
    background-color: #901C1C;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -22px;
    margin-left: 120px;
    width: 170px;
    height: 70px;
    position: absolute;
    padding: 0 10px;
    border: solid 2px transparent;
}

.option {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    padding: 11px;
    margin: 0;
    display: none;
    text-align: left;
}
.option.selected {
    display: block;
}

.menuOpened {
    display: block;
    z-index: 10;
    border-bottom: solid 1px white;
}
.menuOpened.last {
    border-bottom: none;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.media_card {
    margin-bottom: 30px;
}

.media_card img, .media_card video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;    
    object-fit: cover;
}

.media_card h3 {
    font-size: 24px;
    line-height: 31px;
}

.media_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.media_likes {
    display: flex;
    align-items: center;
}

.media_likes button {
    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}

.like {
    font-size: 18px;
    margin-left: 7px;
    color: #911C1C;
}