a {
    color: white;
}

a:visited {
    color: white;
}

#contact_modal {
    display: none;
    background-color: rgb(0 0 0 / 40%);
    height: 100%;
    width: 100%;
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.photograph-header h1 {
    color: #D3573C;
    font-size: 64px;
    font-weight: normal;
}

.photograph-header h2 {
    margin-top: 0;
    font-size: 24px;
    color: #901C1C;
}

.photograph-header p {
    font-size: 18px;
    margin-top: 20px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-top: 26px;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/*bouton de tri*/

#sortbutton {
    margin: 20px 0 30px 0;
}

.sorted {
    margin: 26px 10px 0 0;
    float: left;
}

.select-box {
    display: flex;
    width: 170px;
    flex-direction: column;
}

.select-box .options-container {
    background: #901C1C;
    color: #f5f6fa;
    max-height: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 0 0 8px 8px;
    overflow: hidden;
    position: absolute;
    width: 170px;
    margin-top: 71px;
    z-index: 700;
    order: 1;
}

.selected {
    background: #901C1C;
    border-radius: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
    padding: 26px 24px;
    cursor: pointer;
}

.selected::after {
    content: "";
    background: url("../assets/icons/arrow-down.svg");
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 20px;

    transition: all 0.4s;
}

.select-box .clicked {
    border-radius: 8px 8px 0 0;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    cursor: pointer;
}

.select-box .options-container.active+.selected::after {
    transform: rotateX(180deg);
    top: -18px;
}

.select-box .clicked {
    border-radius: 8px 8px 0 0;
}

.options-container .option {
    padding: 20px 10px;
}

.select-box .option {
    margin: 0 15px;
    border-top: 1px solid white;
}

.select-box .option .radio {
    display: none;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    max-width: 700px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal-top {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.modal-close {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.modal-top-align {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-top .modal-top-align img {
    cursor: pointer;
}

.modal-top .modal-top-align h2, .modal-top h2 {
    font-size: 58px;
    font-weight: normal;
    color: #312E2E;
    margin-top: 0;
}

.formData {
    margin-top: 15px;
}

.data-error {
    margin-top: 5px;
    font-size: 18px;
}

.modal-name {
    left: 0;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 28px;
    width: 100%;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.text-control {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 47px;
}

#message {
    width: 100%;
    height: 100px;
    resize: none;
    border-radius: 5px;
    border: 0;
}


.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.media_card {
    margin-bottom: 30px;
}

.media_card img, .media_card video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
}


.play {
    color: white;
    position: absolute;
    margin: 116px 0 0 150px;
    font-size: 70px;
}

.media_card h3, .media_card p {
    font-size: 24px;
    line-height: 31px;
}

.media_card p {
    color: #901C1C;
}

.media_info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.media_info h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
}

.media_likes {
    display: flex;
    align-items: center;
}

.media_likes button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

.like_img {
    font-size: 18px;
    margin-left: 7px;
    color: #911C1C;
}

.fixed-counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 320px;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 40px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #DB8876;
}

.fixed-counter p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
}

.total-heart {
    margin: 0 60px 0 0;
}

.daily-rate {
    margin-left: 5px;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 500;
    overflow: auto;
    animation: lightboxin .5s;
    transition: opacity .3s;
}

.fadeout {
    opacity: 0;
}

.lightbox-next, .lightbox-prev {
    top: 50%;
    right: 120px;
    margin-top: -15px;
    z-index: 501;
}

.lightbox-prev {
    right: auto;
    left: 120px;
}

.lightbox-nav, .lightbox-exit {
    font-size: 50px;
    color: #911C1C;
}

.lightbox-close {
    position: fixed;
    top: 125px;
    right: 125px;
    z-index: 501;
}

.lightbox button {
    opacity: .5;
    cursor: pointer;
    transition: opacity .3s;
}

.lightbox button:hover {
    opacity: 1;
}

.lightbox-container {
    margin: 0 195px 0 195px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.lightbox-container img, .lightbox-container video {
    max-width: 100%;
    max-height: 80vh;
    animation: lightboxin .5s;
}


.lightbox-next, .lightbox-prev, .lightbox-close {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: fixed;
}

.lightbox-loader {
    width: 38px;
    height: 38px;
    opacity: .5;
    background: url(../assets/images/loader.svg) center center no-repeat;
}

@keyframes lightboxin {
    form {opacity: 0;}
    to {opacity: 1;}
}